<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>
<body>

	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include('partials/headerLogueado') %>

	<% } else { %>
		<%- include('partials/header') %>

	<% } %>


	<!-- /Header -->
	<!-- Banner -->
	<div class="banner">
		<img src="/images/products/portada final.jpg" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					JUGADORES
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
            <% for ( let i=0 ; i < productos.length; i++) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="form-register">
						<form action="/productos/id/<%= productos.id %> " method="post" name="form-register" enctype="multipart/form-data">
							<input class="form-input1" type="text" name="nombre" value="<%= productos.nombre_producto %> ">
							<input class="form-input1" type="text" name="descripcion" value="<%= productos.descripcion %> ">
							<input class="form-input1" type="file" name="foto" value="<%= productos.foto %>"
								value="Ingrese Imagen">
							<button type="submit" class="btn mt-3 ml-4">POSTEAR PRODUCTO</button>
						</form>
					</section>
                </div>
                <% } %>




            <!-- /footer> -->
	<%- include('../views/partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>