<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>
<body>

	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include('partials/headerLogueado') %>

	<% } else { %>
		<%- include('partials/header') %>

	<% } %>


	<!-- /Header -->
	<!-- Banner -->
	<div class="banner">
		<img src="/images/products/portada final.jpg" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					ARQUEROS
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			
			<% if (posiciones.arquero && posiciones.arquero.length > 0) { %>
				<% for(let i=0; i < posiciones.arquero.length; i++){%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="../database/models/Producto.js<%= posiciones.arquero[i].id %>"> //chequear ruta
								<div class="contenedor-imagen">
					
									<img class="product-box_image"src="/images/products/<%= posiciones.arquero[i].foto %>" alt="Jugador">

								</div>
								<article class="product-box_data">
									<h2><%= posiciones.arquero[i].nombre_producto %></h2>
									<p><%= posiciones.arquero[i].detalle %></p>
									
								</article>
							</a>
						</section>
					</div>
			<%}%>
		 <% } %>
		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					DEFENSORES
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			
			<% if (posiciones.defensor && posiciones.defensor.length > 0) { %>
			<% for(let i=0; i<posiciones.defensor.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id/<%= posiciones.defensor[i].id%>">
						<div class="contenedor-imagen">
				
							<img class="product-box_image"src="<%= posiciones.defensor[i].foto %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= posiciones.defensor[i].nombre_producto %></h2>
							<p><%= posiciones.defensor[i].detalle %></p>
								
						</article>
					</a>
				</section>
			</div>
			<%}%>
		 <% } %>
		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					VOLANTES
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			
			<% if (posiciones.volante && posiciones.volante.length > 0) { %>
				<% for(let i=0; i<posiciones.volante.length; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/id/<%= posiciones.volante[i].id%>">
							<div class="contenedor-imagen">
				
								<img class="product-box_image"src="/images/products/<%= posiciones.volante[i].foto %>" alt="Jugador">

							</div>
							<article class="product-box_data">
								<h2><%= posiciones.volante[i].nombre_producto %></h2>
								<p><%= posiciones.volante[i].detalle %></p>
								
							</article>
						</a>
					</section>
				</div>
				<%}%>
			<% } %>
		</div>
	</div>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					DELANTEROS
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			
			<% if (posiciones.delantero && posiciones.delantero.length > 0) { %>
				<% for(let i=0; i<posiciones.delantero.length; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/id/<%= posiciones.delantero[i].id%>">
							<div class="contenedor-imagen">
				
								<img class="product-box_image"src="/images/products/<%= posiciones.delantero[i].foto %>" alt="Jugador">

							</div>
							<article class="product-box_data">
								<h2><%= posiciones.delantero[i].nombre_producto %></h2>
								<p><%= posiciones.delantero[i].detalle %></p>
								
							</article>
						</a>
					</section>
				</div>
				<%}%>
			<%}%>

		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<!-- <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div> -->
			<!-- Show the "ultimos" products -->
			<!-- <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div> -->
	<!-- /Más comentados -->


	
	<!-- /footer> -->
	<%- include('../views/partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>