<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>
<body>

	<!-- Header -->
	<% if (locals.user != undefined) {%>
	<p>Bienvenido <%= locals.user.userName %></p>
	<% } %>
	<%- include('partials/header') %>

	<!-- /Header -->
	<!-- Banner -->
	<div class="banner">
		<img src="/images/products/portada final.jpg" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					ARQUEROS
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			

			<% for(let i=0; i<arqueros.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id/<%= arqueros[i].id%>">
						<div class="contenedor-imagen">
			
							<img class="product-box_image"src="/images/products/<%= arqueros[i].imagen %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= arqueros[i].nombre %></h2>
							<p><%= arqueros[i].detalle %></p>
							
						</article>
					</a>
				</section>
			</div>
			<%}%>
		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					DEFENSORES
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			

			<% for(let i=0; i<defensores.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id/<%= defensores[i].id%>">
						<div class="contenedor-imagen">
			
							<img class="product-box_image"src="/images/products/<%= defensores[i].imagen %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= defensores[i].nombre %></h2>
							<p><%= defensores[i].detalle %></p>
							
						</article>
					</a>
				</section>
			</div>
			<%}%>
		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					VOLANTES
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			

			<% for(let i=0; i<volantes.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id/<%= volantes[i].id%>">
						<div class="contenedor-imagen">
			
							<img class="product-box_image"src="/images/products/<%= volantes[i].imagen %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= volantes[i].nombre %></h2>
							<p><%= volantes[i].detalle %></p>
							
						</article>
					</a>
				</section>
			</div>
			<%}%>
		</div>
	</div>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<p class="products-title">
					DELANTEROS
				</p>
			</div>
			<!-- Show the "ultimos" products -->
			
			

			<% for(let i=0; i<delanteros.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id/<%= delanteros[i].id%>">
						<div class="contenedor-imagen">
			
							<img class="product-box_image"src="/images/products/<%= delanteros[i].imagen %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= delanteros[i].nombre %></h2>
							<p><%= delanteros[i].detalle %></p>
							
						</article>
					</a>
				</section>
			</div>
			<%}%>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<!-- <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div> -->
			<!-- Show the "ultimos" products -->
			<!-- <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div> -->
	<!-- /Más comentados -->


	
	<!-- /footer> -->
	<%- include('../views/partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>