<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado de Camisetas</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include('partials/headerLogueado') %>

	<% } else { %>
		<%- include('partials/header') %>

	<% } %>
	<!-- /Header -->
	

	<!-- product detail -->
	

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">

			<h2 class="products-title"><%= producto.nombre_producto %></h2> 

		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">

					<img src="<%= producto.foto %>" alt="" class="product-detail-img">
					<h3><a href="/profile/<%= producto.usuario.id_usuario %>">Jugador subido por:
						<%= producto.usuario.usuario %> </h3> </a>
					<h2>Descripción:</h2>
		
					<p class="product-detail-description">
						<%= producto.descripcion %></p>

						<% if (locals.user) { %>
							<% if (locals.user.id == producto.usuario.id) { %>
							  <form action="/productos/delete/<%= producto.id %>" method="post">
								<button class="borrar" type="submit"> Borrar jugador </button>
							  </form>
							<% } else { %>
							  <h2>No podes borrar ni editar el perfil de este jugador ya que no lo publicaste vos </h2>
							<% } %>
						  <% } else { %>
							<h2>Para poder borrar o editar el perfil de un jugador, debes iniciar sesión.</h2>
						  <% } %>
						  
						
				</article>


				
					<div class="col-12 col-lg-4">
					  <section class="comments">
						<article>
						  <!-- <img src="https://via.placeholder.com/35" alt=""> -->
						  <div class="data">
							<h2>Comentarios:</h2>
							<% for (let i=0; i< producto.comentario.length; i ++) { %>
								<p class="user">
								  <strong> <a href="/profile/<%=producto.comentario[i].id_usuario%>"><%=  producto.comentario[i].id_usuario %> </a> </strong>
								  <%= producto.comentario[i].texto_comentario %>
						  
								</p>
								<% } %>
						  </div>
						</article>
					  </section>
					</div>
				  
				  

				
					</section>
					<form class="form" action="/productos/id/<%= producto.id %>" method='POST'>

						<input class="form-input" type="text" value="" name = "comentario" placeholder="Agregar comentario" >
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>