<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>
<body>
	<!-- Header -->
	<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= user.email %>
						<a href="/login/profile/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="/">CERRAR SESIÓN</a>
				</div>
				<div>
					<ul class="">
						<li>DNI: <%= user.dni %></li>
						<li>Email: <%= user.email %></li>
						<li>Fecha de nacimiento: <%= user.fecha %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos favoritos</h2>
			</div>
			<!-- Show mis productos -->
				<% if (user.producto && user.producto.length > 0) { %>
					<% for (let i = 0; i < user.producto.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					

							<a href="/productos/id/<%= user.id_usuario %>">
						</a>
					  
						<div class="contenedor-imagen">
			
							<img class="product-box_image"src="<%= user.producto[i].foto %>" alt="Jugador">

						</div>
						<article class="product-box_data">
							<h2><%= user.producto[i].nombre_producto %></h2> 
							 <p><%= user.producto[i].detalle %></p>
							
						</article>
					</a>
				</section>
			</div>
					<% } %>
				<% } %>
			
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>