<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include('partials/headerLogueado') %>

	<% } else { %>
		<%- include('partials/header') %>

	<% } %>

	<!-- /Header -->

	<!-- Novedades -->

	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<!-- <h2 class="products-title">Resultados de búsqueda</h2> -->
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i><br> 
				<% if (locals.errors){ %>
					<p>	<%= locals.errors.mensaje %></p>
					<% }%>				
				<%for (let i=0; i<results.length; i++){ %>
				
					<figure class="product-box_image">
						<a href="<%=results[i].id%>"> <img src="<%=results[i].foto%>" alt="<%= results[i].nombre_producto%>"</a> 	
					</figure>

					<article class="product-box_data">
						<h2><%=results[i].nombre_producto%></h2>
						<p><%=results[i].descripcion%></p>
						<p>Comentarios: <%=results[i].numComentarios%></p>

					</article>
				</a>
				<%}%>

				<br>

			</h2>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>